/* navbar.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .title {
    text-align: center;
    font-size: 50px;
    color: dark;
    animation: fadeIn 2s ease-in-out;
  }
  
  .navbar {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideIn 1s ease-in-out;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    transition: transform 0.5s ease-in-out;
  }
  
  .navbarHidden {
    transform: translateY(-100%);
  }
  
  .navHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .navButton span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
    animation: pulse 2s infinite;
  }
  
  .navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .navList {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
  }
  
  .navItem {
    margin-right: 10px;
  }
  
  .navLink {
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navLink:hover {
    color: #007bff;
  }
  
  .content {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes slideIn {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }
  
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }